div {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}
.kotak {
    width: 100px;
    height: 80px;
    background: #bada55;
    margin:10px;
    float: right;
}
.clear{
    clear: both;
}